{% extends "base.html" %}

{% block title %}Proyectos{% endblock %}

{% block header_title %}Nuevo Proyecto{% endblock %}
{% block header_description %}Aqui puedes subir tu iconico portafolio!!!.{% endblock %}

{% block content %}
    <div class="card neon-blue reveal" style="max-width: 600px; margin: 0 auto;">
        <h2 class="text-center">Formulario de Subida</h2>
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen del Proyecto</label>
                <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Subir Proyecto</button>
        </form>
        {% if mensaje %}
            <div class="alert alert-info mt-3">{{ mensaje }}</div>
        {% endif %}
        <div class="text-center mt-4">
       
        <a href="/" class="btn">Regresar al Inicio</a>
    </div>
    </div>
{% endblock %}